.vs
build
_build
out
x64
Debug
Release
Win32
[Bb]in
[Oo]bj
*.aps
*.db
*.ipch
*.iobj
*.ipdb
*.ilk
*.lastbuildstate
*.log
*.obj
*.opendb
*.pdb
*.recipe
*.sdf
*.suo
*.tlog
*.user
*.vcxproj.user
RNT
RNT.exe
RNT.dll
RNT.exp
RNT.lib
libRNT.so
libRNT.dylib
docs/generated/
.cache
_build_nix
.direnv